@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* Base styles */

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-dark-gray: hsl(0, 0%, 55%);
  --color-very-dark-gray: hsl(0, 0%, 41%);
  --primary-font: Alata, Arial, sans-serif;
  --secondary-font: 'Josefin Sans', Arial, sans-serif;
  font-size: 10px;
}

body {
  font-family: var(--primary-font);
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  text-transform: uppercase;
}

h2 {
  margin-bottom: 3rem;
  font-size: clamp(2rem, 8vw, 4.8rem);
}
@media (max-width: 768px) {
  h2 {
    text-align: center;
  }
}

/* Layout styles */

.wrapper {
  box-sizing: border-box;
  max-width: 1155px;
  padding: 0 20px;
  margin: 0 auto;
}

.site-header {
  padding: 5rem 0;
  background-image: url(/images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  color: var(--color-white);
}

@media (max-width: 768px) {
  .site-header .main-nav {
    display: none;
  }
}

.site-header--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12rem;
}

.site-content {
  margin-top: 16.5rem;
}

.site-content .content-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 18rem;
}

.site-footer {
  box-sizing: border-box;
  height: 16rem;
  padding: 4rem 0 5rem;
  background-color: var(--color-black);
  color: var(--color-white);
}

.site-footer .site-footer__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.site-footer .site-footer__primary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-footer .site-footer__secondary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/* Module styles */

.page-title {
  display: inline-block;
  max-width: 13ch;
  padding: 0.6em 0.6em 0.4em;
  margin-bottom: 10rem;
  border: solid 2px var(--color-white);
  font-size: clamp(4rem, 10vw, 7rem);
}
@media (max-width: 768px) {
  .page-title {
    padding: 0.6em 0.6em 0.4em;
  }
}

.nav-button {
  display: none;
  background: none;
  border: none;
}
@media (max-width: 768px) {
  .nav-button {
    display: inline-block;
  }
}

.main-nav ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
}

.promo-block__image {
  max-width: 72rem;
}

.promo-block__image img {
  width: 100%;
}

.promo-block__text {
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  max-width: 55rem;
  padding: 10rem 0 0 10rem;
  background-color: var(--color-white);
}
@media (max-width: 768px) {
  .promo-block__text {
    position: static;
    max-width: 100%;
    padding: 3rem;
  }
}

.promo-block__text p {
  line-height: 1.8;
}
@media (max-width: 768px) {
  .promo-block__text p {
    text-align: center;
  }
}

a.see-all {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 0.8em 2.4em;
  border: solid 2px var(--color-very-dark-gray);
  font-family: var(--primary-font);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.3em;
  color: var(--color-black);
}
@media (max-width: 768px) {
  a.see-all {
    position: static;
    margin: 6.5rem auto;
  }
}

.creations-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 5.5rem;
}
@media (max-width: 1015px) {
  .creations-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .creations-grid {
    grid-template-columns: 1fr;
  }
}

.creations-grid__item {
  display: flex;
  box-sizing: border-box;
  height: 44.5rem;
  padding: 4rem;
  background-color: var(--color-very-dark-gray);
  background-size: cover;
  box-shadow: inset 0 -18rem 4rem 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
@media (max-width: 768px) {
  .creations-grid__item {
    height: 24rem;
  }
}

.creations-grid__item:nth-of-type(1) {
  background-image: url(/images/desktop/image-deep-earth.jpg);
}
.creations-grid__item:nth-of-type(2) {
  background-image: url(/images/desktop/image-night-arcade.jpg);
}
.creations-grid__item:nth-of-type(3) {
  background-image: url(/images/desktop/image-soccer-team.jpg);
}
.creations-grid__item:nth-of-type(4) {
  background-image: url(/images/desktop/image-grid.jpg);
}
.creations-grid__item:nth-of-type(5) {
  background-image: url(/images/desktop/image-from-above.jpg);
}
.creations-grid__item:nth-of-type(6) {
  background-image: url(/images/desktop/image-pocket-borealis.jpg);
}
.creations-grid__item:nth-of-type(7) {
  background-image: url(/images/desktop/image-curiosity.jpg);
}
.creations-grid__item:nth-of-type(8) {
  background-image: url(/images/desktop/image-fisheye.jpg);
}
@media (max-width: 768px) {
  .creations-grid__item:nth-of-type(1) {
    background-image: url(/images/mobile/image-deep-earth.jpg);
  }
  .creations-grid__item:nth-of-type(2) {
    background-image: url(/images/mobile/image-night-arcade.jpg);
  }
  .creations-grid__item:nth-of-type(3) {
    background-image: url(/images/mobile/image-soccer-team.jpg);
  }
  .creations-grid__item:nth-of-type(4) {
    background-image: url(/images/mobile/image-grid.jpg);
  }
  .creations-grid__item:nth-of-type(5) {
    background-image: url(/images/mobile/image-from-above.jpg);
  }
  .creations-grid__item:nth-of-type(6) {
    background-image: url(/images/mobile/image-pocket-borealis.jpg);
  }
  .creations-grid__item:nth-of-type(7) {
    background-image: url(/images/mobile/image-curiosity.jpg);
  }
  .creations-grid__item:nth-of-type(8) {
    background-image: url(/images/mobile/image-fisheye.jpg);
  }
}

.creations-grid__link {
  align-self: flex-end;
  font-family: var(--secondary-font);
  font-size: 3.2rem;
  text-transform: uppercase;
  color: var(--color-white);
}

.social-media-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* Theme styles */

.site-logo {
  display: block;
}

.site-footer .site-logo {
  width: 15rem;
}

.site-footer .site-logo img {
  width: 100%;
  object-fit: contain;
}

.text-muted {
  color: var(--color-dark-gray);
}
